[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2024"

[workspace.dependencies]
thiserror = "2.0.17"
alloy = { version = "1.1.2", features = ["full"] }
tokio = { version = "1.48", features = ["rt-multi-thread", "macros"] }
